@import 'tailwindcss';

select:focus,
select:hover {
  outline: none; /* Remove the default focus outline */
  border-color: transparent; /* Optional: remove the border highlight */
}

/* Hover color for options */
select option:hover {
  background-color: #ffe600 !important;
}
